name: "CI: Casdoor"

on:
  pull_request:
    branches: ["*"]
    paths:
      - "packages/casbin-fastapi-decorator-casdoor/**"
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: task install

      - name: Lint
        run: task casdoor:lint CI=true

  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: task install

      - name: Test
        run: task casdoor:test CI=true

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v7
        with:
          name: casdoor-test-results
          path: packages/casbin-fastapi-decorator-casdoor/reports/
