name: "CI: DB"

on:
  pull_request:
    branches: ["*"]
    paths:
      - "packages/casbin-fastapi-decorator-db/**"
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: task install

      - name: Lint
        run: task db:lint CI=true

  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: task install

      - name: Test
        env:
          TESTCONTAINERS_RYUK_DISABLED: "true"
        run: task db:test CI=true

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: db-test-results
          path: packages/casbin-fastapi-decorator-db/reports/
